/**
 *
 * Global...............Globally stykes.
 *
 * Lecturer page.........Lecturer page styles
 * Additional questions
 *
 * Student page.............   [Descr]
 *
 * REGISTRATION
 * Authorization............  [Desct]
 * Registration............   [Descr]
 *
 */





/*------------------------------------*\
  #Global
\*------------------------------------*/


/*------------------------------------*\
  #Lecturer page
\*------------------------------------*/

/*Additional questions*/
.quest_container .main_form, h5{
    display: inline-block;
}
.quest_form input {
    padding-right: 270px;
}
.appear_checkbox {
    user-select: none;
}
.main_form {
    margin-left: 170px;
}
.quest_none {
    display: none;
}
.job_checkbox_label {
    display: inline-block;
    border: 0.6px solid black;
    padding: 2px;
    width: 433px;
    user-select: none;
}

/*------------------------------------*\
  #Student page
\*------------------------------------*/


/*------------------------------------*\
  #Registration
\*------------------------------------*/