/*
 *
 * Variable...............Create variables.
 *
 * Mixin.........Create mixins
 * Additional questions
 *
 * Add other...
 *
 */



/*------------------------------------*\
  # Variable
/*------------------------------------*/
$text-color: #707070

$main-color: #846add  

$error-icon: "../img/icons/exclamation-circle-solid.svg"